@brand-color-1: #0052cc;
@brand-color-2: #f0f6ff;

@gray-color-1: #a8b0bf;

@error-color-1: #ff5d47;

:root {
    // Font Color
    --tree-font-color-1: @brand-color-1;
    --tree-font-color-2: @gray-color-1;

    // Background Color
    --tree-background-color-1: @brand-color-1;
    --tree-background-color-2: @gray-color-1;
    --tree-background-color-3: @brand-color-2;
    --tree-background-color-4: @error-color-1;
}
