@brand-color-1: #0052cc;

@gray-color-1: #a8b0bf;
// @gray-color-2: #e2e6f0;

:root {
    // 字体色
    --tree-font-color-1: @brand-color-1;
    --tree-font-color-2: @gray-color-1;

    // 背景色
    --tree-background-color-1: @brand-color-1;
    --tree-background-color-2: @gray-color-1;
    // --tree-background-color-3: @gray-color-2;
}
